* {
    margin: 0;
    padding: 0;
    background-color: rgb(223, 223, 213);
}

ul {
    list-style: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.todos {
    width: 70vw;
    padding: 0 1rem;
}

.todos ul{
    margin: 0;
}

.todos ul li{
    margin: 1rem 0;
    padding: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .3s ease-in-out;
    background-color: white;
}
.todos ul li:hover{
   transform: scale(1.05);

}

.add-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    width: 40%;
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: rgb(62, 161, 161);
    border: none;
    color: white;
    
}

.add:hover {
    background-color: rgb(43, 209, 209);
}

.li {
    position: relative;
}

.delete {
    position: absolute;
    right: 1rem;
    padding: 0 0.5rem;
    background-color: rgb(161, 62, 78);
    border: none;
    color: white;
}